<div class="container">
  <h1>Stupid Coaching</h1>
  <br>
  <p class="dark">"<%= @question %>"</p>
  <p><em>-You</em></p>
  <br>
  <p class="dark">"<%= @answer %>"</p>
  <p><em>-Your coach</em></p>
  <br>
  <%= link_to "Ask a new question", ask_path %>
</div>
